body{
    background-color: hsl(217, 54%, 11%);
    width: 1440px;   
}

#sec{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 1000px;
} 
#container{
    background-color:  hsl(216, 50%, 16%);
    width: 320px;
    min-height: 580px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 1em hsl(216, 50%, 16%);
}

.middle{
    margin: auto;
    width: 300px;
   
}
.picture{
    width: 300px;
    height: 300px;
    margin: 10px auto;
    background-color: hsl(178, 100%, 50%);  
    border-radius: 10px;
    position: relative;
}

.image{
    border-radius: 10px;
    width: 100%;  
}
.view{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -24px;
    margin-left: -24px;
    opacity: 0;
}

.picture:hover .image{
    opacity: 0.5;
    cursor: pointer;
}

.picture:hover .view{
    opacity: 1;
}
     
h1{
    color:hsl(0, 0%, 100%);
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}
h1:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}

.txt1{
    color:hsl(215, 51%, 70%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}
.eth{
    float:left;
    display: flex;
}
.eth p{
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    
}
.eth img{
    align-self:center;
    margin:0 5px 0 0;
}
.day{
    display: flex;
    justify-content: right;
}
.day p{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}
.day img{
    align-self: center;
    margin:0 5px 0 0;
}

.name{
    color:hsl(0, 0%, 100%);
    font-weight: 300;
    margin-left: 5px;   
}
.name:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
.avatar{
    width: 300px;
    margin: 20px auto;
    display: flex;
    padding-top: 15px;
    border-top: 2px solid hsl(215, 32%, 27%);
    
}
.avatar p{
    color:hsl(215, 51%, 70%);
    font-weight: 300;
    margin-left: 15px;
    font-family: 'Outfit', sans-serif;
}

.avatar img{
    width: 40px;
    align-self: center;
    float: left;
    border: 1px  hsl(0, 0%, 100%);
}