body{
    background-color: hsl(217, 54%, 11%);
    width: 1440px;
}

#container{
    position: relative;
    display: flex;
    margin: auto;
    background-color:  hsl(216, 50%, 16%);
    width: 320px;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    
}

#middle{
    margin:auto;
}
img{
    width: 300px;
    border-radius: 10px;
}
   
div.image{
    
    width: 100%;
    margin: auto;
    
}   



h1{
    color:hsl(0, 0%, 100%);
}

.txt1{
    color:hsl(215, 51%, 70%);
    font-size: 18px;
}

.txt2{
    color: hsl(178, 100%, 50%);

}

.txt3{
    color: hsl(215, 51%, 70%);
}