body{
    background-color: hsl(217, 54%, 11%);
    width: 1440px;   
}

#sec{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 1000px;
} 
#container{
    background-color:  hsl(216, 50%, 16%);
    width: 320px;
    min-height: 600px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 1em hsl(216, 50%, 16%);
}

#middle{
    margin: auto;
    width: 300px;
}
div.image img{
    width: 300px;
    border-radius: 10px;
}
   
div.image{
    
    width: 100%;
    margin: 10px auto;
}   


h1{
    color:hsl(0, 0%, 100%);
    font-weight: 600;
}

.txt1{
    color:hsl(215, 51%, 70%);
    font-size: 18px;
}
.eth{
    float:left;
    display: flex;
}
.eth p{
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    
}
.eth img{
    align-self:center;
    margin:0 5px 0 0;
}
.day{
    display: flex;
    justify-content: right;
}
.day p{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}
.day img{
    align-self: center;
    margin:0 5px 0 0;
}


.name{
    color:hsl(0, 0%, 100%);
    font-weight: 300;
}
.avatar{
    width: 300px;
    margin: 20px auto;
    display: flex;
    padding-top: 10px;
    border-top: 2px solid hsl(215, 32%, 27%);
    
}
.avatar p{
    color:hsl(215, 51%, 70%);
    font-weight: 300;
    
}

.avatar img{
    width: 40px;
    align-self: center;
    float: left;
    border: 1px  hsl(0, 0%, 100%);
}